Repository cocos2d/cocos2d-x, pull requests merged in 2018-11, with the labels that each got.

#19148 UIButton fix setTitleLabel memleaks
  cocos/ui/UIButton.cpp
Labels: module:ui

#19151 prevent in-source-build at cmake project(Cocos2d-x)
  CMakeLists.txt
  cmake/Modules/PreventInSourceBuilds.cmake
Labels: module:cmake

#19090 a workaround to fix black screen on macOS 10.14
  cocos/platform/CCGLView.h
  cocos/platform/desktop/CCGLViewImpl-desktop.h
  cocos/platform/mac/CCApplication-mac.mm
Labels: confirmed, platform:mac

#19208 [cmake] fix iOS xcode property setting failed
  cmake/Modules/CocosBuildHelpers.cmake
  cmake/Modules/CocosBuildSet.cmake
Labels: type:bug
